.aboutme {
    background-color: rgba(23, 195, 178, 0.2);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme__tittle {
    text-align: center;
    width: 100%;
    margin: 4rem 0;
    color: #1df2dc;  
    font-family:Cambria, serif;
    letter-spacing: 2px;
}

.aboutme__text {
    color: white;
    text-align:justify;
    padding: 0 1rem;
}

@media only screen and (max-width: 480px) {
    .aboutme__tittle {
        font-size: 2rem;
    }

    .aboutme__text {
      font-size: 1rem;
      width: 90%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .aboutme__tittle {
      font-size: 2.2rem;
    }

    .aboutme__text {
      font-size: 1.2rem;
      max-width: 500px;
    }
}

@media only screen and (min-width: 1025px) {
    .aboutme__tittle {
      font-size: 2.4rem;
    }

    .aboutme__text {
      font-size: 1.4rem;
      max-width: 600px;
    }
}