.aboutme {
    background-color: rgba(23, 195, 178, .2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme__tittle {
    text-align: center;
    width: 100%;
    margin: 4rem 0;
    color: #1df2dc;  
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
 
}

.aboutme__text {
    color: #fff;
    text-align:justify;
    letter-spacing: 1px;
    padding: 0 1rem 1rem 1rem;
    font-family: 'Raleway', sans-serif;
}

.technologies {
  color: #1df2dc;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 480px) {
    .aboutme__tittle {
        font-size: 2rem;
    }

    .aboutme__text {
      font-size: 1rem;
      width: 90%;
      text-align:center;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .aboutme__tittle {
      font-size: 2.2rem;
    }

    .aboutme__text {
      font-size: 1.2rem;
      max-width: 500px;
    }
}

@media only screen and (min-width: 1025px) {
    .aboutme__tittle {
      font-size: 2.4rem;
    }

    .aboutme__text {
      font-size: 1.4rem;
      max-width: 600px;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .aboutme__text {
    padding-bottom: 1rem;
  }
}
