.backarrow-btn {
    position: absolute;
    top:0;
    left:0;
    font-size: 2.4rem;
    color: #1df2dc;
    transition-duration: .2s;
    margin: 3rem;
  }
  
  .backarrow-btn:hover {
  color: #fff;
  }
  
  @media only screen and (max-width: 480px) {
  .backarrow-btn {
      font-size: 2rem;
      position: absolute;
      top: 0;
      left: 0;
  }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
  .backarrow-btn {
      font-size: 2.2rem;
      position: absolute;
      top: 0;
      left: 0;
  }
  }
  
  @media only screen and (min-width: 1025px) {
  .backarrow-btn {
      font-size: 2.4rem;
  }
  }
  