.f11__message {
  position: fixed;
  left: -100%;
  top: 20%;
  transform: translateY(-50%);
  background-color: rgba(23, 195, 178, 0.2);
  border-radius: 0 1rem 1rem 0;
  color: #17C3B2;
  font-weight: bold;
  transition: left .5s ease-in-out;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem;
  letter-spacing: .5px;
  column-gap: 1rem;
  font-size: 1rem;  
  
}
  
.f11__img {
  width: 2.5rem;
  height: 2.5rem;
}

.f11__message-enter {
  left: -100%;
}

.f11__message-enter-active {
  left: 0; 
  transition: left 2s ease-in-out;
}

.f11__message-exit {
  left: 0;
}

.f11__message-exit-active {
  left: -100%;
  transition: left 2s ease-in-out; 
}