.footer {
    background-color:rgba(23, 195, 178, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.footer__status {
    font-family: 'Orbitron', sans-serif;
    color: #1df2dc; 
    letter-spacing: 1px;  
}

.footer__active {
  color: #4acb4a;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 480px) {
    .footer {
      height: 2.5rem;
    }

    .footer__status { 
      font-size: 1rem;
    }

    .footer__active {
      font-size: 1rem;
    }
}
  
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .footer {
      height: 2.6rem;
    }

    .footer__status { 
      font-size: 1.4rem;
    }

    .footer__active {
      font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1025px) {
    .footer {
      height: 2.7rem;
    }

    .footer__status { 
      font-size: 1.5rem;
    }
    .footer__active {
      font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .footer__status {
    font-size: 1.1rem;
  }
}
  