.home {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}
/*? HEADER */
.header {
  backdrop-filter: blur(3px);
  position: fixed;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  width: 100vw;
}
.header__nav {
  margin: 0;
  width: 100%;
}
.header__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__list-item {
  list-style: none;
  width: max-content;
  padding-top: 1em;
}
.header__link {
  text-decoration: none;
  border: 2px solid #17c3b2;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top: none;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  z-index: 9;
  font-family: "Orbitron", sans-serif;
  color: #17c3b2;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.header__link:hover {
  cursor: pointer;
  background-color: rgb(23, 195, 178);
  color: #000;
}
@media (max-width: 480px) {
  .header__list {
    gap: 0.3em;
  }

  .header__link {
    padding: 1em;
    font-size: 0.7em;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .header__list {
    gap: 1.5em;
  }

  .header__link {
    padding: 1.3em;
    font-size: 1em;
  }
}
@media (min-width: 1025px) {
  .header__list {
    gap: 2em;
  }

  .header__link {
    padding: 1.3em;
    font-size: 1.1em;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .header__list {
    gap: 1em;
  }

  .header__link {
    padding: 1em;
    font-size: 0.8em;
  }
}
/*? SECTION */
.section__home {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 45vh;
  margin-top: 6em;
}
.home__title {
  text-shadow: 0 0em 2em #1df2dc;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 3px;
  color: #1df2dc;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.home__title h1 {
  font-size: 4.3em;
  text-transform: capitalize;
}
.home__title p {
  font-size: 1.4em;
  text-transform: capitalize;
}
.home__arrow {
  color: #1df2dc;
  font-size: 1.8em;
  animation-name: updown;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}
.container-technologies {
  display: flex;
  margin: 2em 0;
  width: 100vw;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  padding: 1em;
}
@media (max-width: 480px) {
  .section__home {
    width: 100%;
    margin-top: 7em;
  }
  .home__title {
    letter-spacing: 2px;
    align-items: center;
  }
  .home__title h1 {
    font-size: 2.8em;
    text-transform: capitalize;
  }
  .home__title p {
    font-size: 1.3em;
    text-transform: capitalize;
    width: 100%;
    margin-right: 0 !important;
    text-align: center !important;
  }
  .container-technologies {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1em;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
}
@media (min-width: 1025px) {
}
@media (max-width: 1024px) and (orientation: landscape) {
  .section__home {
    width: 100%;
  }
}

/*? FOOTER */
.footer {
  background-color: rgba(23, 195, 178, 0.2);
  backdrop-filter: blur(2px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 0;
}
.footer__status {
  font-family: "Orbitron", sans-serif;
  color: #1df2dc;
  letter-spacing: 1px;
}
.footer__active {
  color: #4acb4a;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  font-size: 1.4em;
}
@media (max-width: 480px) {
  .footer {
    height: 2.5em;
  }
  .footer__status,
  .footer__active {
    font-size: 1em;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .footer {
    height: 2.6em;
  }
  .footer__status,
  .footer__active {
    font-size: 1.4em;
  }
}
@media (min-width: 1025px) {
  .footer {
    height: 2.7em;
  }
  .footer__status,
  .footer__active {
    font-size: 1.5em;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .footer__status {
    font-size: 1.1em;
  }
}
