.project {
  background-color: rgba(23, 195, 178, 0.2);
  min-height: 100vh;
  padding: 7rem 1rem 1rem 1rem;
  overflow-x: hidden;
}

.project__article:nth-child(2) {
  margin-top: 3rem;
}

.project__article {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

.project__container-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin: 1rem 0;
}

.project__subtitle {
  color: #1df2dc;
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

.project__img {
  height: 150px;
  border-radius: 1rem;
  filter: brightness(.8);
  box-shadow: 0 0 3px #1df2dc;
}

.project__technology {
  width: 2.1rem;
  height: 2rem;
}

.project__technologies-span {
  color: rgb(255, 255, 255);
}

.project__description-container {
  color: #FFf;
}

/* .project__description-list {} */

.project__description-list-item {
  list-style: none;
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.project__github-icon {
  right: 55px;
  color: #000000;
  font-size: 2.5rem;
  background-color: #aeaeae;
  border-radius: 100%;
  transition-duration: .2s;
}

.project__github-icon:hover {
  cursor: pointer;
  color: #aeaeae;
  background-color: #000;
}

.project__boxArrowUp-icon {
  color: #000000;
  background-color: rgba(55, 165, 255, .8);
  font-size: 2rem;
  border-radius: 5px;
  padding: .2rem;
  transition-duration: .2s;
}

.project__boxArrowUp-icon:hover {
  cursor: pointer;
  color: rgba(55, 165, 255, .8);
  background-color: #000;
}

.project__contentloader {
  animation: blink 1.5s infinite;

}

.project__container-arrowup-btn {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
}

.btn-more-project {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: .5rem;
  transition-duration: .2s;
}

.btn-more-project:hover{
  background-color: rgba(0, 0, 0, .7);
  cursor: pointer;
   
}

.btn-more-project__link {
  text-decoration: none;
  color: #e0e0e0;
}

.project__arrowup {
  font-size: 2rem;
  color: #1df2dc;
  margin-bottom: -2rem;
  animation-name: updown;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition-duration: .1s;
}

.project__arrowup:hover {
  cursor: pointer;
  color: #ffffff;
}

@keyframes updown {
  0% { 
    transform: translateY(-8px);
  }

  50% { 
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-8px);
  }
  
}

@keyframes blink {
  0% {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

@media only screen and (max-width: 480px) {
  .project {
    row-gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project__article {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .project__img {
    width: 80%;
  }

  .project__container-tech-descrip {
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  .project__container-name-img-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .project__technologies {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    color: #1df2dc;
    font-size: .8rem;
  }

  .project__description-container {
    padding: 0 1rem;
    font-size: .9rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .project {
    row-gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project__article {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .project__img {
    width: 85%;
  }

  .project__container-name-img-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .project__container-tech-descrip {
    width: 100%;
  }

  .project__technologies {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    color: #1df2dc;
    font-size: .9rem;
  }

  .project__description-container {
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1025px) {
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5rem;
  }

  .project__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
  }

  .project__img {
    margin-left: 1rem;
    width: 85%;
  }

  .project__container-tech-descrip {
    border-radius: 0 1rem 1rem 0;
    padding: 2rem;
    width: 55%;
  }

  .project__container-name-img-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
  }

  .project__technologies {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    color: #1df2dc;
    font-size: .8rem;
  }

  .project__description-container {
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .project {
    flex-direction: column;
  }

  .project__article {
    width: 70%;
  }
}