.projects__contentloader {
  animation: blink 1.5s infinite;
  
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.projects {
  background-color: rgba(23, 195, 178, 0.2);
  min-height: 100vh;
  padding: 3rem 1rem 1rem 1rem;
}

.projects__article {
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.projects__container-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin: 1rem 0;
}

.projects__subtitle {
    color: #1df2dc;
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
}

.projects__img {
    width: 90%;
    height: 150px;
    border-radius: 1rem;
    filter: brightness(.8);
    box-shadow: 0 0 3px #1df2dc;
}

.project__technology {
  width: 2.1rem;
  height: 2rem;
}

.projects__technologies-span {
  color: rgb(255, 255, 255);
}

.projects__description {
    text-align: center;
    color: #fff;
}

.projects__github-icon {
  right: 55px;
  color: #000000;
  font-size: 2.5rem;
  background-color: #aeaeae;
  border-radius: 100%;
  transition-duration: .2s;
}

.projects__github-icon:hover {
  cursor: pointer;
  color: #aeaeae;
  background-color: #000;
}

.projects__boxArrowUp-icon {
  color: #000000;
  background-color: rgba(55, 165, 255, .8);
  font-size: 2rem;
  border-radius: 5px;
  padding: .2rem;
  transition-duration: .2s;
}

.projects__boxArrowUp-icon:hover {
  cursor: pointer;
  color: rgba(55, 165, 255, .8);
  background-color: #000;
}
  
@media only screen and (max-width: 480px) {
  .backarrow-btn {
    margin: 0;
    padding: .3rem;
   }

  .projects {
     row-gap: 3rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }

  .projects__article {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .projects__container-tech-descrip {
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
  }
  
  .projects__container-name-img-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .projects__technologies {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    color: #1df2dc;
    font-size: .8rem;
  }

  .projects__description {
    padding: 0 1rem;
    font-size: .9rem;
}
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .backarrow-btn {
    margin: 0;
    padding: .3rem;
   }

  .projects {
     row-gap: 3rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }

  .projects__article {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .projects__container-name-img-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .projects__container-tech-descrip {
    width: 100%;
  }

  .projects__technologies {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    color: #1df2dc;
    font-size: .9rem;
  }

  .projects__description {
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1025px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    row-gap: 3rem;
  }

  .projects__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    max-width: 700px;
  }

  .projects__container-tech-descrip {
    border-radius: 0 1rem 1rem 0;
    padding: 2rem;
    width: 55%;
  }

  .projects__container-name-img-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
  }

  .projects__technologies {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    color: #1df2dc;
    font-size: .8rem;
  }
  /* .projects {
    background-color: rgba(23, 195, 178, 0.2);
    min-height: 100vh;
    padding: 3rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    row-gap: 3rem;
  }

  .projects__article {
    outline: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 700px;
  }

  .projects__container-tech-descrip {
    border-radius: 0 1rem 1rem 0;
    padding: 2rem;
    width: 55%;
  }

  .projects__container-name-img-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
  }

  .projects__technologies {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    color: #1df2dc;
    font-size: .8rem;
  }

  .projects__description {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    color: #fff;
  } */
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .projects {
    flex-direction: column;
  }

  .projects__article {
    width: 70%;
  }
}


