.projects {
    background-color: rgba(23, 195, 178, 0.2);
    height: 100%;
    padding: 3rem 1rem 1rem 1rem;
}

/* .projects__title {
    text-align: center;
    width: 100%;
    margin: 3rem 0;
    color: #1df2dc;  
    font-family:Cambria, serif;
    letter-spacing: 2px;
    font-size: 2rem;
} */

.projects__article {
    outline: 3px solid black;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    border-radius: 1rem;
    position: relative;
}

.projects__container-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin: 1rem 0;
}

.projects__subtitle {
    color: #1df2dc;
    padding: 1rem;
    font-size: 1.5rem;
}

/* .projects__list {
    list-style: none;
} */

.projects__img {
    width: 90%;
    height: 150px;
    border-radius: 1rem;
    filter: brightness(.8);
}

.projects__description {
    text-align: justify;
    width: 80%;
    padding-bottom: 1rem;
    color: #fff;
}

.projects__github-icon {
  right: 55px;
  color: #000000;
  font-size: 2.5rem;
  background-color: #aeaeae;
  border-radius: 100%;
  transition-duration: .2s;
}

.projects__github-icon:hover {
  cursor: pointer;
  color: #aeaeae;
  background-color: #000;
}

.projects__boxArrowUp-icon {
  color: #000000;
  background-color: rgba(55, 165, 255, .8);
  font-size: 2rem;
  border-radius: 5px;
  padding: .2rem;
  transition-duration: .2s;
}

.projects__boxArrowUp-icon:hover {
  cursor: pointer;
  color: rgba(55, 165, 255, .8);
  background-color: #000;
}
  
@media only screen and (max-width: 480px) {
  .projects {
     row-gap: 3rem;
     display: flex;
     flex-direction: column;
     align-items: center;
  }

  .projects__article {
    width: 85%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .projects {
     row-gap: 3.2rem;
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     justify-content: space-evenly;
  }

  .projects__article {
    max-width: 350px;
  }
}

@media only screen and (min-width: 1025px) {
  .backarrow-btn {
    font-size: 2.4rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.4rem;
    height: 100%;
  }
  
  .projects__article {
    max-width: 380px;
  }
}