.cvbutton__container {
  padding: 1rem; 
  border-radius: 1rem;
  margin-top: 3rem;
  text-align: center;
}

.cvbutton__link {
  text-decoration: none;
}

.cvbutton__text {
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  color: #1df2dc;
}

.cvbutton__text:hover { color: white; }